<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.B">
      <methods>
      <include name="regre.*"/>
       </methods>
      </class>
      <class name="test.C"/>
      <class name="test.E"/>
    </classes>
    </test>
    <test name="Explore">
    <classes>
     <class name="test.A"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
